<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Log In</h1>
    <form action="/session/login" method="post">
        Enter Your Email Address:<input type="text" name="email" placeholder="email@email.com">
        Create a User Password:<input type="password" name="password" placeholder="P@$$w0rD">
        <button>Submit</button>
    </form>
    </body>
</html>