<!DOCTYPE html>
<html lang="en">

<head>
    <title>Log Out</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <h1>You have been logged out!</h1>
    <a href="/"><img src="https://media.giphy.com/media/pAMRgEcRwHJy8/giphy.gif" alt="beaker from the muppets"><h2>Thank you!</h2><p>You will redirected in a few moments...</p></a>
    <script>
        setTimeout(() => {
            window.location = "/"
        }, 5000)
    </script>
</body>

</html>