<!DOCTYPE html>
<html lang="en">
    <head>
        <title>User Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>User Profile</h1>
    <form action="/user/posts" method="post">
        <input type="text" name="post" placeholder="Create a post...">
        <br>
        <button>Submit</button>
    </form>
    <br>
    <br>
    <br>
    <form action="/session/logout" method="get">
        <button>Log Out</button>
    </form>
    </body>
</html>